/*Reset
========================================================================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*General
========================================================================== */

main {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem 1.5rem;
}

a {
  text-decoration: none;
}

/*Font
========================================================================== */

h1 {
  font-size: 1.875rem;
  font-weight: 700;
  width: fit-content;
  padding: 0.5rem 1rem;
  display: inline-block;
  overflow-wrap: break-word;
  margin: 0rem auto;
  max-width: 100%;
  text-align: center;
}

h1,
h2,
h3,
h4,
p li,
a,
span,
label,
input,
.button {
  color: rgb(21, 21, 21);
  text-transform: none;
  letter-spacing: 0;
  line-height: 1;
  font-family: "Roboto";
}

/* Header
========================================================================== */

header {
  width: 100%;
}

header,
header nav ul {
  padding: 2rem 1.5rem;
}

header nav ul {
  margin: 0rem auto;
  display: inline;
  max-width: 100%;
  line-height: 1.5rem;
  white-space: nowrap;
  position: relative;
  letter-spacing: normal;
}

header nav ul li {
  font-family: "Roboto", sans-serif;
}

header nav ul li a {
  font-weight: 400;
  color: black;
  font-size: 1.25rem;
}

header nav a:hover {
  animation: 0.5s linear 0s slide alternate infinite;
}

@keyframes slide {
  from {
    opacity: 100%;
  }

  to {
    opacity: 10%;
  }
}

/* Hero
========================================================================== */

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

h2 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.2rem;
}

.button {
  color: white;
  background-color: #283a66;
  border-radius: 1.25rem;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}
/* Form
========================================================================== */

input {
  border: none;
  border-bottom: 1px solid black;
}

aside h3 {
  font-weight: 700;
  margin-bottom: 2.5rem;
}

aside h4 {
  font-weight: 300;
  margin-bottom: 1.5rem;
}
