/*Flex
========================================================================== */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

/*JustifyContent
========================================================================== */

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}

.justifyEvenly {
  justify-content: space-evenly;
}

/*AlignItems
========================================================================== */

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.alignStart {
  align-items: flex-start;
}

/*Header
========================================================================== */

.phone {
  font-size: 1.875rem;
  color: rgb(21, 21, 21);
  overflow-wrap: break-word;
  text-decoration: none;
  display: inline;
  max-width: 100%;
  line-height: 1.5;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.active {
  border-bottom: 1px solid rgb(65, 61, 61);
  padding-bottom: 0.15rem;
}

.heading1 {
  margin: 0 auto;
  transition: opacity 0.5s ease-in-out;
}

.heading1:hover {
  opacity: 70%;
}

/*Hero
========================================================================== */

.hero {
  margin-bottom: 3rem;
}

.hero,
.origin {
  background: #f2f3fb;
  width: 100%;
}

.hero .imageContainer {
  width: 70%;
  background: white;
}

.hero section {
  width: 40%;
}

.hero h2 {
  margin-bottom: 1rem;
  margin-top: 4rem;
  line-height: 1.2;
  text-transform: uppercase;
}

/*origin
========================================================================== */

.origin section {
  padding: 2rem;
  width: 80%;
}

.origin p,
.origin span {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
}

.origin h2 + p {
  margin-bottom: 4rem;
}

.origin p + p {
  margin-bottom: 0.5rem;
}

.origin p + span {
  margin-bottom: 2rem;
}

.origin h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.origin .imageContainer {
  width: 100%;
}

.origin .imageContainer {
  background: #6fb0fc;
}

/* Aside/Form
========================================================================== */

.form {
  margin: 3rem 2rem 6rem 2rem;
  width: 100%;
}

.form label {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.form input {
  width: 30%;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}

aside .imageContainer {
  width: 20%;
}

/* Footer
========================================================================== */

.icons li i,
.icons li svg {
  font-size: 2rem;
}

.icons {
  width: 15%;
}
